# Importe as Bibliotecas. 
---

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

# Algumas Funções do Python para Ciências de Dados.
---

### Ler arquivo csv#
### pd.read_csv( 'coloque o caminho do arquivo aqui entre aspas' ) Atribuida a uma variável 
---

In [ ]:
data = pd.read_csv( 'datasets_para_estudos/kc_house_data.csv' )

### Mostrar as 5 primeiras linhas do arquivo#
### print( variável.head() ) Junto com o print, colocar variável atribuida .head() entre parênteses.
---

In [ ]:
print(data.head())

### Mostrar quantas linha e colunas tem o arquivo#
### print( variável.shape ) Junto com o print, colocar variável atribuida .shape entre parênteses.
---

In [ ]:
print(data.shape)

### Saber tipos de variáveis de cada coluna#
### print( data.dtypes ) Junto com o print, colocar variável atribuida .dtypes entre parênteses.
---

In [ ]:
print( data.dtypes )

###  Mostra os nomes das colunas do arquivo
### print( data.columns ) Junto com o print, coloca variável atribuida .columns entre parênteses.
---

In [ ]:
print( data.columns)

### Função .iloc --> Seleciona o índex das linhas e o índex das colunas que deseja.
### print(variável.iloc[linha de  :  até linha tal  ,  coluna de  :  até coluna tal  ])
###  Ex: data(data.iloc[ 0:11 , 0:4])

In [ ]:
print(data.iloc[ 'id', 'price', 'floors'])

### Função .loc --> Seleciona o índex das linhas e nomes das colunas.
### print(variável.loc[ 'linha de : até tal , ' nome da coluna que quer' ]
### Ex: print(data.loc[ 0:11 , 'yr_built' ])

In [ ]:
print(data.loc[0:11, 'yr_built'])

# Converter os Tipos de Variáveis. 
---

### Converter string(objeto)-->date ( modelo de data )#
### data[ ' date ' ] = pd.to_datetime (data[ ' date ' ])--> variável['date'] = pd.to datetime(variável['date']).
---

In [ ]:
data[ 'date' ] = pd.to_datetime(data[ 'date'])

### Converter   inteiro --> float #
### variável atribuida junto com a coluna da mudança entre colchetes .astype(float)
### Ex: data [ 'coluna escolhida' ].astype(float)
### E atribuir na variável atribuida o novo valor--> Ex: data[ ' bedrooms ' ] = data.astype(float)
---

In [ ]:
data[ 'bedrooms'] = data['bedrooms'].astype(float)

### Converter   float --> inteiro #
### variável atribuida junto com a coluna da mudança entre colchetes .astype(int)
### Ex: data [ 'coluna escolhida' ].astype(int)
### E atribuir na variável o novo valor--> Ex: data[ ' bedrooms ' ] = data.astype(int)
---

In [ ]:
data[ 'floors' ] = data[ 'floors' ].astype(int)

### Converter   inteiro --> string #
### variável atribuida junto com a coluna da mudança entre colchetes .astype(str)
### Ex: data [ 'coluna escolhida' ].astype(str)
### E atribuir na variável o novo valor--> Ex: data[ ' bedrooms ' ] = data.astype(str)
---

In [ ]:
data[ 'sqft_above' ] = data[ 'sqft_above'].astype(str)

### Converter   string --> inteiro #
### variável atribuida junto com a coluna da mudança entre colchetes .astype(int)
### Ex: data [ 'coluna escolhida' ].astype(int)
### E atribuir na variável o novo valor--> Ex: data[ ' bedrooms ' ] = data.astype(int)
---

In [ ]:
data[ 'sqft_above' ] = data[ 'sqft_above' ].astype(int)

# Manipulação das Variáveis
---

### Criando novas coluna.
### Coloque a variável atribuida junto com colchetes e dentro entre aspas  nome da coluna que quer inserir
### E atribui um valor a essa nova coluna entre aspas.
### Ex: data[ 'nome da nova coluna' ] = 'valor da nova coluna'
---

In [130]:
data['nova_coluna'] = '0001'

In [131]:
data[ 'exemplo'] = '0002'

In [132]:
data[ 'de nova'] = '0003'

In [133]:
data[ 'deletar'] = '0004'

In [134]:
data['data_comeco' ] = pd.to_datetime('04/02/2021')

In [ ]:
print(data[['data_comeco', 'nova_coluna']].head(11))

In [158]:
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### Deletar uma coluna
### variável atribuida .drop( 'nome da coluna para deletar', axis = 1 )
### Ex: data.drop( 'nome da coluna para deletar', axis = 1)

In [ ]:
data = data.drop('de nova', axis = 1)

### Deletar mais de uma  coluna
### variável atribuida.drop('nomes das colunas para deletar', axis = 1)
### Ex: data.drop(nomes das colunas para deletar', axis = 1)
### Pode atribuir as varias lista em uma variável. Ex: cols

In [ ]:
cols = [ 'nova_coluna', 'data_comeco', 'exemplo', 'deletar' ]
data = data.drop(cols, axis = 1)

# Seleção das Colunas

## 04 formas principais de selecionar colunas

### Forma 01  -->  Seliciona direto pelo nomes das colunas
---

In [165]:
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [167]:
print(data[[ 'id', 'price', 'floors']].head())

           id     price  floors
0  7129300520  221900.0       1
1  6414100192  538000.0       2
2  5631500400  180000.0       1
3  2487200875  604000.0       1
4  1954400510  510000.0       1

### Forma 02  -->  Função .iloc  -->  Selecionar pelos índices das colunas
---

In [169]:
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [173]:
print(data.iloc[0:11, 0:4])

            id       date      price      bedrooms
0   7129300520 2014-10-13   221900.0  7.129301e+09
1   6414100192 2014-12-09   538000.0  6.414100e+09
2   5631500400 2015-02-25   180000.0  5.631500e+09
3   2487200875 2014-12-09   604000.0  2.487201e+09
4   1954400510 2015-02-18   510000.0  1.954401e+09
5   7237550310 2014-05-12  1225000.0  7.237550e+09
6   1321400060 2014-06-27   257500.0  1.321400e+09
7   2008000270 2015-01-15   291850.0  2.008000e+09
8   2414600126 2015-04-15   229500.0  2.414600e+09
9   3793500160 2015-03-12   323000.0  3.793500e+09
10  1736800520 2015-04-03   662500.0  1.736801e+09

### Forma 03  -->  Função .loc -->Selecionar pelos índices das linhas e nomes das colunas.
---

In [175]:
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [174]:
print(data.loc[0:11, 'yr_built'])

0     1955
1     1951
2     1933
3     1965
4     1987
5     2001
6     1995
7     1963
8     1960
9     2003
10    1965
11    1942
Name: yr_built, dtype: int64

### Forma 04  -->  True / False  -->  Selecionar pelos índices Booleanos
---

In [177]:
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [178]:
cols = [True, True, True, True, False, False, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False]

print(data.loc[0:11, cols])

            id       date      price      bedrooms  sqft_lot  floors
0   7129300520 2014-10-13   221900.0  7.129301e+09      5650       1
1   6414100192 2014-12-09   538000.0  6.414100e+09      7242       2
2   5631500400 2015-02-25   180000.0  5.631500e+09     10000       1
3   2487200875 2014-12-09   604000.0  2.487201e+09      5000       1
4   1954400510 2015-02-18   510000.0  1.954401e+09      8080       1
5   7237550310 2014-05-12  1225000.0  7.237550e+09    101930       1
6   1321400060 2014-06-27   257500.0  1.321400e+09      6819       2
7   2008000270 2015-01-15   291850.0  2.008000e+09      9711       1
8   2414600126 2015-04-15   229500.0  2.414600e+09      7470       1
9   3793500160 2015-03-12   323000.0  3.793500e+09      6560       2
10  1736800520 2015-04-03   662500.0  1.736801e+09      9796       1
11  9212900260 2014-05-27   468000.0  9.212900e+09      6000       1