<a href="https://colab.research.google.com/github/ClaudioDiporty/Introducao_em_Ciencia_de_Dados_Nivel_Iniciante/blob/main/seja_um__cientista_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Tipos de Variáveis***

In [1]:
pip install pandas   #// pip install pandas--> Instalação o Pacote Pandas //

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd  #// import pandas as pd--> Importando o Pacote Pandas //

In [3]:
import numpy as np

In [4]:
data = pd.read_csv('/content/drive/MyDrive/COLAB_NOTEBOOKS/arquivos-csv/kc_house_data.csv')#// variável = pd.read_csv("Caminho do Arquivo")--> Ler o Arquivo //

In [ ]:
print(data.head())  #// variável.head()--> Função para Mostrar as 5 Primeiras Linhas do Arquivo //

In [ ]:
print(data.shape)  #// variável.shape--> Função para saber quantas linhas e colunas tem no Arquivo //

In [ ]:
print( data.dtypes)  #// variável.dtypes--> Função para saber os tipos de variável de cada coluna //

In [28]:
print ( data[ 'floors'].unique())  # // variável['coluna que quer o valor'].unique()--> Função que pega o valor único da coluna //

[1.  2.  3.  1.5 2.5 3.5]

# ***Converter os tipos das Variáveis***

In [ ]:
##// string(objeto) --> Date 
data['date'] = pd.to_datetime (data['date']) #// variável['date'] = pd.datetime (variável['date'])--> Função que Converte Objeto(string) em Formato Data
print(data['date'])

In [ ]:
##// inteiro --> float
data['bedrooms'] = data ['bedrooms'].astype(float)  ##// variável.astype(...o que vai converter...) //
print(data['bathrooms'])
print(data[['id', 'bedrooms', 'date']].head)

In [ ]:
##// float --> inteiro
data ['bedrooms'] = data ['bedrooms'].astype(int) 
print(data.dtypes)
print(data['bedrooms'])

In [ ]:
##// inteiro --> string
data ['bedrooms'] = data ['bedrooms'].astype(str) 
print(data.dtypes)
print(data['bedrooms'])

In [ ]:
##// string --> inteiro
data ['bedrooms'] = data ['bedrooms'].astype(int) 
print(data.dtypes)
print(data['bedrooms'])

# ***Manipulação das Variáveis***

In [ ]:
print(data.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
##// Criando Novas Variáveis e novas Colunas

data['nome_do_diporty'] = 'patyz'
data['nome_kauan'] = 'neto'
data['nome_Gaby'] = 'filha'
print(data[['nome_do_diporty', 'date', 'nome_kauan', 'nome_Gaby']].head())

In [ ]:
data['data_aprendizado'] = pd.to_datetime('2021-01-31')

print(data[['id','data_aprendizado', 'nome_do_diporty', 'nome_kauan', 'nome_Gaby']].head())

(data.dtypes).head(6)

In [ ]:
print(data.columns)

In [ ]:
##// Deletar Variáveis // data = data.drop('nome da coluna para deletar', axis = 1) //
                #(atribuir na variável de novo)#

data = data.drop('data_aprendizado', axis=1)

print(data.columns)

In [ ]:
##// Deletar mais de uma Variáveis //
cols = ['nome_do_diporty','nome_kauan', 'nome_Gaby']
data = data.drop(cols, axis=1)
print(data.columns)

# ***Seleção das Variáveis(colunas)***

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/COLAB_NOTEBOOKS/kc_house_data.csv')

In [ ]:
print(data.columns)

In [ ]:
##Forma 01 --> //Selecionar Direto pelo nomes das colunas //

print(data[['id', 'date', 'price', 'condition']].head())

In [ ]:
##Forma 02 --> //Selecionar pelos Índices e Colunas //

print(data.iloc[0:11, 0:3])  ##// variável.iloc[linha de : até  , coluna de : até  ]--> Função inloc para selecionar index das linha e o index das colunas que quer.

In [ ]:
##Forma 03 --> //Selecionar pelos Índices e Nomes das Colunas //

print(data.loc[0:11, 'date'])  ##variável.loc[linha de : até  , 'nome da coluna']--> Função loc seleciona o index das linhas e o nome das colunas.

In [ ]:
print(data.loc[0:11, ['date', 'zipcode', 'lat', 'long']])

In [ ]:
cols = ['date', 'zipcode', 'lat', 'long']
print(data.loc[0:11, cols])

In [ ]:
print(data.columns)

In [ ]:
##Forma 04 --> // Selecionar pelos Índices Booleanos// 

##// True / False

cols = [True, True, True, True, False, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False]
print(data.loc[0:11, cols]) #-->  True / False

# ***Responder Algumas Perguntas de Negócios***
---
# ***Praticar Fazendo Exercícios***
---

In [11]:
import numpy as np
data = pd.read_csv( '/content/drive/MyDrive/COLAB_NOTEBOOKS/arquivos-csv/kc_house_data.csv' )

In [ ]:
## Qual a data mais antiga do Dataset ?##

data['date'] = pd.to_datetime (data['date'])

data = (data.sort_values('date', ascending=True))
#print(data)
print(data['date'].head())

## Data mais antiga é 2014-05-02 !!

In [ ]:
## Quantos imóveis possuem o número máximo de andares ? ##

## São 8 imóveis que possuem o número máximo de andares, são 3.5 andares por imóveis.

#data.columns
print(data[ 'floors' ].head())

In [ ]:
print(data['floors'])

In [ ]:
print([data['floors'] == 3.5])

In [ ]:
print(data[data['floors'] == 3.5]) # Retorna todas as linhas que são True //

In [ ]:
print(data[data['floors'] == 3.5][['floors'] ].shape)

In [ ]:
print(data[data['floors'] == 3.5].shape)